.game-container{
    /* border: solid var(--main-border) 1px;  */
    display: grid;
    grid-template-columns: repeat(13, 30px);
    grid-template-rows: repeat(26, 30px);
    position: absolute;
    width: var(--container-w); 
    height: 810px;
}
