:root { 
  --main-background: black; 
  --main-border:#ffffff26 ;
  --main-width:900px;
  --main-height:700px;
  --container-w:400px;
  --container-h:700px;
}
html{
  padding: 0;
  margin: 0;
  /* border: solid blue 1px; */
  background: var(--main-background);
  overflow: scroll;
  width:100vw;
  height: 100vh;
}
.App {
  /* border: solid pink 1px; */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: fixed;
  top:calc((100vh - var(--main-height)) / 2);
  left:calc((100vw - var(--main-width)) / 2);
  width:var(--main-width);
  height: var(--main-height);
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
