:root { 
  --main-background: black; 
  --main-border:#ffffff26 ;
  --main-width:800px;
  --main-height:720px;
  --container-w:390px;
  --container-h:720px;
  --square-w:20px;
  --square-h:20px;
  --square-view-w:40px;
  --square-view-h:40px;
  --shape-view-w:180px;
  --shape-view-h:180px;
  --square-color-1:#ff006e;
  --square-color-2:#2679ff;
  --square-color-3:#fb5607;
  --square-color-4:#00ff00;
  --square-color-5:#7e2bf2;
  --border-left-color: rgba(255, 255, 255, 0.10);
  --border-top-color: rgba(255, 255, 255, 0.13);
  --border-right-color: rgba(139, 139, 139, 0.095);
  --border-bottom-color: rgba(0, 0, 0, 0.4);

}
html{
  padding: 0;
  margin: 0;
  /* border: solid blue 1px; */
  background: var(--main-background);
  overflow: scroll;
  width:100vw;
  height: 100vh;
}
.App {
  /* border: solid pink 1px; */
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  position: relative;
  top:calc((100vh - var(--main-height)) / 2);
  left:calc((100vw - var(--main-width)) / 2);
  overflow: hidden;
  width:var(--main-width);
  height: var(--main-height);
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
